<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<add key="Emailaddress" value="wiono@interia.pl"/>
		<add key="NazwaSklepu" value="elsiko.com.pl"/>
		<add key="NazwaFirmy" value="ElSiKo"/>
		<add key="AdresFirmy" value="ul. Wejcherowska 13"/>
		<add key="KodpocztowyFirmy" value="59-220"/>
		<add key="TelefonDoFirmy" value="076 124 543"/>
		<add key="FaxDoFirmy" value="076 124 544"/>
		<add key="MiejscowoscFirmy" value="Legnica"/>
		<add key="NIPFirmy" value="123-456-78-90"/>
		<add key="REGONFirmy" value="12345678512347"/>
		<add key="BankFirmy" value="MBank"/>
		<add key="KontoFirmy" value="81 1140 2004 0000 3702 3040 7221"/>
	</appSettings>
	<connectionStrings>
		<add name="home" providerName="System.Data.SqlClient" connectionString="Data Source=SUSZARKA\SQLEXPRESS;Initial Catalog=aspnetdb;Persist Security Info=True;User ID=sa;Password='r9M-1H9='"/>
		<add name="inet24" providerName="System.Data.SqlClient" connectionString="Data Source=clea.mic.psnc.pl;Initial Catalog=inet24.studentlive.pl;Integrated Security=False;Persist Security Info=True;User ID=inet24;Password=vJLiPbGVvu;Encrypt=False"/>
	</connectionStrings>
	<system.web>
    <httpHandlers>
      <add verb="GET" path="FtbWebResource.axd" type="FreeTextBoxControls.AssemblyResourceHandler, FreeTextBox" />
    </httpHandlers>
    <trust level="Full"/>
		<webParts>
			<personalization defaultProvider="AspNetSqlPersonalizationProvider">
				<!-- Providers may only be defined at the application level -->
				<providers>
					<clear/>
					<add name="AspNetSqlPersonalizationProvider" type="System.Web.UI.WebControls.WebParts.SqlPersonalizationProvider" connectionStringName="home" applicationName="/"/>
				</providers>
				<authorization>
					<deny users="*" verbs="enterSharedScope"/>
					<allow users="*" verbs="modifyState"/>
				</authorization>
			</personalization>
		</webParts>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms">
   <forms name="RolesBasedAthentication" loginUrl="/sklep/Default.aspx" />
      
  </authentication>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<membership defaultProvider="AspNetSqlMembershipProvider">
			<providers>
				<clear/>
				<remove name="AspNetSqlMembershipProvider"/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" enablePasswordRetrieval="false" enablePasswordReset="true" connectionStringName="home" maxInvalidPasswordAttempts="6" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="5" passwordFormat="Hashed" passwordStrengthRegularExpression="" requiresQuestionAndAnswer="false" applicationName="/"/>
			</providers>
		</membership>
		<profile enabled="true" defaultProvider="AspNetSqlProfileProvider" automaticSaveEnabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" connectionStringName="home" applicationName="/" type="System.Web.Profile.SqlProfileProvider"/>
			</providers>
			<properties>
				<add name="Imie"/>
				<add name="Nazwisko"/>
				<add name="Adres"/>
				<add name="KodPocztowy"/>
				<add name="Miejscowość"/>
				<add name="Telefon"/>
				<add name="Fax"/>
				<add name="NazwaFirmy"/>
				<add name="NIP"/>
				<add name="REGON"/>
			</properties>
		</profile>
		<roleManager enabled="true" cacheRolesInCookie="true" defaultProvider="AspNetSqlRoleProvider" cookieName=".ASPXROLES" cookiePath="/" cookieTimeout="30" cookieRequireSSL="false" cookieSlidingExpiration="true" createPersistentCookie="false" cookieProtection="All">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="home" applicationName="/"/>
			</providers>
		</roleManager>
    <httpModules>
      <remove name="WindowsAuthentication" />
      <remove name="PassportAuthentication" />
    </httpModules>
	</system.web>
	<system.net>
		<mailSettings>
			<smtp from="Marcin Wionczyk">
				<network host="poczta.interia.pl" password="18912170" userName="wiono"/>
			</smtp>
		</mailSettings>
    <connectionManagement>
      <add address="*" maxconnection="100"/>
    </connectionManagement>
	</system.net>
  
</configuration>
